<ul class="nav nav-list">
              <li class="nav-header">Past Posts</li>
              
              <li><%= link_to "Link1", "/path1"  %></li>
              <%= image_tag "jessica.gif" %>
              <li><%= link_to "Link2", "/path2"  %></li>
              <%= image_tag "http://placekitten.com/g/600/400" %>
              <li><%= link_to "Link3", "/path3"  %></li>
            </ul>